* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  color: #726B00;
  font-family: 'Manrope', sans-serif;
}

body {
  font-family: 'Manrope', sans-serif;
  color: #003f8a;
  text-align: left;
  position: relative;
}

#wrapper {
  overflow-x: hidden;
  position: relative;
}

.container-fluid {
  overflow-x: hidden;
}

#backgroundText {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  margin: 0;
}

#backgroundText img {
  width: 1920px;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  opacity: 0.5;
}

#wheelSide {
  background-color: #F7F9FC;
}

#wheelSide #wheelContainer {
  z-index: 1;
  width: 100%;
  z-index: 10;
  position: relative;
}

#wheelSide #wheelContainer #titles {
  position: absolute;
  left: 220px;
}

#wheelSide #wheelContainer #titles h1 {
  font-size: 90px;
  font-weight: 900;
  text-align: left;
  margin-top: 80px;
}

#wheelSide #wheelContainer #titles h5 {
  width: 1000px;
  text-align: left;
  font-size: 31px;
}

#wheelSide #wheelContainer #wheel {
  margin-top: 470px;
  min-width: 750px;
  min-height: 750px;
  width: 750px;
  height: 750px;
  background-color: #F7F9FC;
  -webkit-box-shadow: -12px -12px 10px 3px white, 12px 0px 10px 3px rgba(162, 180, 198, 0.4);
          box-shadow: -12px -12px 10px 3px white, 12px 0px 10px 3px rgba(162, 180, 198, 0.4);
  position: relative;
}

#wheelSide #wheelContainer #wheel .canvasContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#wheelSide #wheelContainer #wheel .canvasContainer canvas {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 4s;
  transition: 4s;
  border-radius: 50%;
}

#wheelSide #wheelContainer #wheel img {
  position: absolute;
  top: 345px;
  left: 700px;
}

#wheelSide #wheelContainer #decisions {
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 220px;
  font-size: 40px;
}

#wheelSide #wheelContainer #decisions h2 {
  margin-top: 50px;
  text-align: left;
}

#wheelSide #wheelContainer #decisions ul {
  list-style: none;
}

#wheelSide #wheelContainer #decisions ul li {
  font-size: 20px;
  margin-left: 200px;
}

#wheelSide #wheelContainer #decisions ul li:first-child {
  font-size: 35px;
  font-weight: 700;
}

#wheelSide #wheelContainer footer {
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 220px;
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: left;
}

#textSide {
  background-color: rgba(114, 107, 0, 0.15);
  color: #726B00;
  padding-left: 100px;
  text-align: left;
}

#textSide #inputsContainer {
  width: 419px;
  margin-top: 470px;
}

#textSide #inputsContainer h1 {
  font-size: 40px;
  margin-bottom: 40px;
}

#textSide #inputsContainer #inputs {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#textSide #inputsContainer #inputs .option {
  height: 50px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
  background-color: #F4F4F3;
  text-align: left;
  padding-left: 20px;
  font-size: 20px;
  border: 1px solid #F4F4F3;
  -webkit-box-shadow: -12px -12px 30px 1px rgba(255, 254, 239, 0.5), 12px 12px 30px 3px rgba(114, 107, 0, 0.3);
          box-shadow: -12px -12px 30px 1px rgba(255, 254, 239, 0.5), 12px 12px 30px 3px rgba(114, 107, 0, 0.3);
  outline: none;
}

#textSide #inputsContainer #inputs .option::-webkit-input-placeholder {
  color: #A2B4C6;
}

#textSide #inputsContainer #inputs .option:-ms-input-placeholder {
  color: #A2B4C6;
}

#textSide #inputsContainer #inputs .option::-ms-input-placeholder {
  color: #A2B4C6;
}

#textSide #inputsContainer #inputs .option::placeholder {
  color: #A2B4C6;
}

#textSide #inputsContainer #inputs .option:focus {
  border: 2px solid #726B00;
}

#textSide #inputsContainer #addOptionContainer {
  width: 100%;
  min-width: 420px;
}

#textSide #inputsContainer #addOptionContainer #addOption {
  position: relative;
  font-size: 40px;
  width: 54px;
  height: 54px;
  background: rgba(114, 107, 0, 0.67);
  color: #F7F9FC;
  border-radius: 50%;
  margin: auto;
  cursor: pointer;
  -webkit-box-shadow: -12px -12px 20px 2px #fffeef, 0px 3px 15px 5px rgba(0, 0, 0, 0.16), 1px 0px 0px 0px #fffeef;
          box-shadow: -12px -12px 20px 2px #fffeef, 0px 3px 15px 5px rgba(0, 0, 0, 0.16), 1px 0px 0px 0px #fffeef;
}

#textSide #inputsContainer #addOptionContainer #addOption:hover {
  background: #726B00;
}

#textSide #inputsContainer #addOptionContainer #addOption img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-47%) translateY(-47%);
          transform: translateX(-47%) translateY(-47%);
  -webkit-box-shadow: -12px -12px 30px 1px rgba(255, 254, 239, 0.5);
          box-shadow: -12px -12px 30px 1px rgba(255, 254, 239, 0.5);
}

#textSide #multiple {
  margin-top: 112px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-left: 10px;
  padding-rigth: 10px;
}

#textSide #multiple h5 {
  width: 385px;
  font-weight: 600;
}

#textSide #multiple .multiple, #textSide #multiple .multipleActive, #textSide #multiple .multipleDisactive {
  width: 56px;
  height: 56px;
  line-height: 56px;
  color: #726B00;
  margin-left: 30px;
  -webkit-box-shadow: -12px -12px 20px 2px #fffeef, 0px 3px 15px 5px rgba(0, 0, 0, 0.16), 1px 0px 0px 0px #fffeef;
          box-shadow: -12px -12px 20px 2px #fffeef, 0px 3px 15px 5px rgba(0, 0, 0, 0.16), 1px 0px 0px 0px #fffeef;
  cursor: pointer;
  background: #F7F9FC;
  font-weight: 600;
}

#textSide #multiple .multipleActive {
  background: rgba(114, 107, 0, 0.67);
  color: #F7F9FC;
  cursor: default;
}

#textSide #multiple .multipleDisactive:hover {
  font-weight: bold;
  background: #FFFFFF;
}

#textSide #play {
  border: 1px solid #726B00;
  width: 292px;
  height: 103px;
  margin-top: 103px;
  margin-bottom: 100px;
  margin-left: 70px;
  background: linear-gradient(45deg, #9F9A53 20%, #726B00);
  color: #F7F9FC;
  font-size: 31px;
  border-radius: 20px;
  font-weight: 800;
  outline: none;
  border: 1px solid #726B00;
  -webkit-box-shadow: -12px -12px 25px 10px rgba(255, 255, 255, 0.8), 12px 12px 20px 10px rgba(114, 107, 0, 0.3), 1px 0px 0px 0px #fffeef;
          box-shadow: -12px -12px 25px 10px rgba(255, 255, 255, 0.8), 12px 12px 20px 10px rgba(114, 107, 0, 0.3), 1px 0px 0px 0px #fffeef;
}

#textSide #play:hover {
  background: #F7F9FC;
  color: #726B00;
}

.nonDisplay {
  display: none;
}

@media (max-width: 1700px) {
  #textSide #multiple {
    width: 420px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #textSide #multiple div {
    text-align: center;
    width: 385px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #textSide #multiple div .multiple, #textSide #multiple div .multipleActive, #textSide #multiple div .multipleDisactive {
    margin: 30px 15px 0 15px;
  }
}

@media (max-width: 1400px) {
  #textSide {
    padding-left: 50px;
  }
  #wheelSide {
    background-color: #F7F9FC;
  }
  #wheelSide #wheelContainer #titles {
    left: 150px;
  }
  #wheelSide #wheelContainer #wheel {
    margin-top: 470px;
    min-width: 600px;
    min-height: 600px;
    width: 600px;
    height: 600px;
  }
  #wheelSide #wheelContainer #wheel img {
    position: absolute;
    top: 271px;
    left: 560px;
  }
  #wheelSide #wheelContainer #decisions {
    margin-left: 150px;
  }
  #wheelSide #wheelContainer footer {
    margin-left: 150px;
  }
}

@media (max-width: 1200px) {
  #backgroundText img {
    width: 1200px;
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    opacity: 0.5;
  }
  #textSide {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-left: 0px;
    text-align: center;
  }
  #textSide #inputsContainer {
    margin-top: 330px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  #textSide #inputsContainer h1 {
    font-size: 30px;
    text-align: left;
    margin-left: 25px;
  }
  #textSide #inputsContainer #inputs {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #textSide #inputsContainer #inputs .option {
    width: 300px;
  }
  #textSide #multiple {
    width: 100%;
    margin-top: 90px;
  }
  #textSide #multiple h5 {
    text-align: left;
    width: 100%;
    margin-left: 40px;
  }
  #textSide #play {
    border: 1px solid #726B00;
    width: 292px;
    height: 103px;
    margin-top: 110px;
    margin-bottom: 30px;
    margin-left: 0px;
    color: #F7F9FC;
    font-size: 31px;
    border-radius: 20px;
    font-weight: 800;
    outline: none;
    border: 1px solid #726B00;
  }
  #wheelSide {
    position: static;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #wheelSide #wheelContainer {
    position: static;
  }
  #wheelSide #wheelContainer #titles {
    top: 0px;
    margin: 0;
    margin-left: 20px;
    width: 100%;
    left: 0;
    text-align: left;
  }
  #wheelSide #wheelContainer #titles h1 {
    font-size: 60px;
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
  }
  #wheelSide #wheelContainer #titles h5 {
    width: 80%;
    font-size: 24px;
    text-align: left;
  }
  #wheelSide #wheelContainer #wheel {
    margin-top: 50px;
    min-width: 600px;
    min-height: 600px;
    width: 600px;
    height: 600px;
  }
  #wheelSide #wheelContainer #wheel img {
    position: absolute;
    top: 270px;
    left: 550px;
  }
  #wheelSide #wheelContainer #decisions {
    width: 100%;
    margin-left: 0px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  #wheelSide #wheelContainer #decisions h2 {
    text-align: center;
  }
  #wheelSide #wheelContainer #decisions ul li {
    margin: 0;
  }
  #wheelSide #wheelContainer footer {
    margin-left: 0px;
    text-align: center;
  }
}

@media (max-width: 700px) {
  #textSide #inputsContainer {
    margin-top: 300px;
  }
  #textSide #inputsContainer h1 {
    margin-bottom: 45px;
    font-size: 25px;
  }
  #textSide #inputsContainer #inputs .option {
    margin-bottom: 25px;
  }
  #textSide #inputsContainer #addOptionContainer {
    width: 100%;
    min-width: 60px;
  }
  #textSide #play {
    font-size: 25px;
    width: 200px;
    height: 70px;
  }
  #textSide #multiple h5 {
    width: 100%;
    margin-right: 0;
  }
  #wheelSide #wheelContainer #wheel {
    margin-top: 70px;
    min-width: 450px;
    min-height: 450px;
    width: 450px;
    height: 450px;
  }
  #wheelSide #wheelContainer #wheel img {
    position: absolute;
    top: 195px;
    left: 380px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  #wheelSide #wheelContainer #decisions h2 {
    font-size: 25px;
  }
  #wheelSide #wheelContainer #titles h1 {
    font-size: 45px;
  }
  #wheelSide #wheelContainer #titles h5 {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  #textSide #inputsContainer {
    margin-top: 300px;
  }
  #textSide #inputsContainer #addOptionContainer {
    width: 100%;
    min-width: 60px;
  }
  #wheelSide #wheelContainer #titles {
    padding-left: 10px;
    padding-right: 10px;
  }
  #wheelSide #wheelContainer #titles h1 {
    font-size: 35px;
  }
  #wheelSide #wheelContainer #wheel {
    min-width: 250px;
    min-height: 250px;
    width: 250px;
    height: 250px;
  }
  #wheelSide #wheelContainer #wheel img {
    position: absolute;
    top: 95px;
    left: 180px;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}
/*# sourceMappingURL=style.css.map */