*
    margin: 0
    padding: 0
    box-sizing: border-box
    text-align: center

body
    background-color: #eee
    font-family: lato
    color: #003f8a

h1
    background-color: #0069D9
    color: white
    padding: 20px
    border: 3px solid white
    border-radius: 20px

input
    border-radius: 5px
    border-color: #0069D9
    border-bottom: 0px
    border-right: 0px

.btn
    margin-left: 20px

.piecesForm
    &>div>label
        padding-right: 5px
        font-weight: 600

.new-wheel
    display: none
    opacity: 0
    transition: 0.5s

.wheel-type
    font-weight: 600
    label
        margin: 0 5px 10px 5px
        input
            margin: 0 5px 20px

.nameInputs
    display: flex
    margin: 0px auto
    width: 80%
    max-width: 1100px
    padding: 20px
    flex-wrap: wrap
    justify-content: center

    div
        display: flex
        width: 500px
        align-items: baseline
        justify-content: center

        label
            padding: 0 5px

        .inputHowMany
            width: 45px

.container
    display: flex
    margin-top: 30px
    font-weight: 600
    border: 2px solid lawngreen
    justify-content: space-between
    min-height: 100vh

    .canvasContainer
        display: flex
        justify-content: center
        margin: 20px
        position: relative

        .fa-galactic-senate
            position: absolute
            top: calc(50% - 24px)
            transform: rotate(270deg)
            right: -46px
            z-index: 5

        canvas
            padding: 20px
            background-color: #ccc
            transform: rotate(0deg)
            transition: 4s
            border: 5px dotted black
            border-radius: 50%

    .actual
        width: 30%
        // border: 2px solid red

        .drawnElementsList
            list-style: none
            font-size: 25px

            li:first-child
                font-size: 25px

            li
                border-bottom: 2px solid #0069D9
                padding-top: 10px
                font-size: 15px
